*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    border:2px solid black;
    height: 450px;
    width: 600px;
    background-color: gray;
    
    align-items: center;
    justify-content: center;
   
}
.text{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}